<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/require.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/javascripttemplating.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/underscore.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/dot.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">Page Transitions!</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LogOnPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Baseline", "Index", "Baseline")</li>
                            <li>@Html.ActionLink("Hardcore", "Index", "Hardcore")</li>
                            <li>@Html.ActionLink("History js", "Index", "Historyjs")</li>
                            <li>@Html.ActionLink("Javascript Templating", "Index", "JavascriptTemplating")</li>
                            <li>@Html.ActionLink("jQuery Mobile", "Index", "JQueryMobile")</li>
                            <li>@DateTime.Now.ToString()</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
            </div>
        </footer>

        <script type="text/javascript">

//            var popped = ('state' in window.history), initialURL = location.href

//            $(window).bind('popstate', function (event) {

//                console.log('poppin');
//                var initialPop = !popped && location.href == initialURL
//                popped = true
//                if (initialPop)
//                    return;

//                var state = event.state

//                if (state) {
//                    alert('using history data');
//                    $.get(location.pathname, function (data) { $('section.content-wrapper').html(data); });
//                }
//                else {
//                //    alert('not history');
//                    window.location = location.href
//                }
//            });

            onpopstate = function (event) {
                console.log('other', event);
            }

            window.addEventListener('popstate', function (event) {
                //alert('popping state');

                console.log('popstate event', event, event.state);
                //$.get(location.pathname, function (data) { $('section.content-wrapper').html(data); });
            });
        </script>
    </body>
</html>
